.fugue-icons-plus {
  background-image: url(icons-shadowless-32/plus.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-lock-ssl {
  background-image: url(icons-shadowless-32/lock-ssl.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-receipt {
  background-image: url(icons-shadowless-32/receipt.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-folder-horizontal {
  background-image: url(icons-shadowless-32/blue-folder-horizontal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calendar-blue {
  background-image: url(icons-shadowless-32/calendar-blue.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-image-sunset {
  background-image: url(icons-shadowless-32/image-sunset.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-document {
  background-image: url(icons-shadowless-32/document.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-e-book-reader {
  background-image: url(icons-shadowless-32/e-book-reader.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-minus {
  background-image: url(icons-shadowless-32/minus.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-question {
  background-image: url(icons-shadowless-32/question.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-script {
  background-image: url(icons-shadowless-32/script.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-mail {
  background-image: url(icons-shadowless-32/mail.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-map {
  background-image: url(icons-shadowless-32/map.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-minus-circle {
  background-image: url(icons-shadowless-32/minus-circle.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-film {
  background-image: url(icons-shadowless-32/film.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-180 {
  background-image: url(icons-shadowless-32/arrow-180.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-keyboard-enter {
  background-image: url(icons-shadowless-32/keyboard-enter.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-270 {
  background-image: url(icons-shadowless-32/arrow-270.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-keyboard-command {
  background-image: url(icons-shadowless-32/keyboard-command.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-disc-blue {
  background-image: url(icons-shadowless-32/disc-blue.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-table {
  background-image: url(icons-shadowless-32/table.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-tag {
  background-image: url(icons-shadowless-32/tag.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-plus-circle {
  background-image: url(icons-shadowless-32/plus-circle.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-lock {
  background-image: url(icons-shadowless-32/lock.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-document-text-image {
  background-image: url(icons-shadowless-32/blue-document-text-image.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-folder {
  background-image: url(icons-shadowless-32/blue-folder.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-notebook {
  background-image: url(icons-shadowless-32/notebook.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calendar-day {
  background-image: url(icons-shadowless-32/calendar-day.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-color-swatch {
  background-image: url(icons-shadowless-32/color-swatch.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-application-blue {
  background-image: url(icons-shadowless-32/application-blue.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-database {
  background-image: url(icons-shadowless-32/database.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-090 {
  background-image: url(icons-shadowless-32/arrow-090.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-sticky-note {
  background-image: url(icons-shadowless-32/sticky-note.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-document-horizontal {
  background-image: url(icons-shadowless-32/document-horizontal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-document-horizontal {
  background-image: url(icons-shadowless-32/blue-document-horizontal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-monitor {
  background-image: url(icons-shadowless-32/monitor.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-color {
  background-image: url(icons-shadowless-32/color.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-monitor-sidebar {
  background-image: url(icons-shadowless-32/monitor-sidebar.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-balloon {
  background-image: url(icons-shadowless-32/balloon.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-card {
  background-image: url(icons-shadowless-32/card.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-information {
  background-image: url(icons-shadowless-32/information.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-document-text-image {
  background-image: url(icons-shadowless-32/document-text-image.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-card-address {
  background-image: url(icons-shadowless-32/card-address.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-application {
  background-image: url(icons-shadowless-32/application.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-smiley-lol {
  background-image: url(icons-shadowless-32/smiley-lol.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-tick {
  background-image: url(icons-shadowless-32/tick.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-keyboard-space {
  background-image: url(icons-shadowless-32/keyboard-space.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-cross {
  background-image: url(icons-shadowless-32/cross.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-folder {
  background-image: url(icons-shadowless-32/folder.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-tag-label {
  background-image: url(icons-shadowless-32/tag-label.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-application-sidebar-list {
  background-image: url(icons-shadowless-32/application-sidebar-list.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calendar-month {
  background-image: url(icons-shadowless-32/calendar-month.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-exclamation {
  background-image: url(icons-shadowless-32/exclamation.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-document-text {
  background-image: url(icons-shadowless-32/document-text.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-document-text {
  background-image: url(icons-shadowless-32/blue-document-text.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-disc {
  background-image: url(icons-shadowless-32/disc.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-image {
  background-image: url(icons-shadowless-32/image.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-application-sidebar {
  background-image: url(icons-shadowless-32/application-sidebar.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-cross-circle {
  background-image: url(icons-shadowless-32/cross-circle.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow {
  background-image: url(icons-shadowless-32/arrow.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-smiley {
  background-image: url(icons-shadowless-32/smiley.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-folder-horizontal {
  background-image: url(icons-shadowless-32/folder-horizontal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calendar {
  background-image: url(icons-shadowless-32/calendar.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-layer {
  background-image: url(icons-shadowless-32/layer.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-counter {
  background-image: url(icons-shadowless-32/counter.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-document {
  background-image: url(icons-shadowless-32/blue-document.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-clock {
  background-image: url(icons-shadowless-32/clock.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-magnet {
  background-image: url(icons-shadowless-32/magnet.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-receipt-text {
  background-image: url(icons-shadowless-32/receipt-text.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-bookmark {
  background-image: url(icons-shadowless-32/bookmark.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-zone {
  background-image: url(icons-shadowless-32/zone.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-script-text {
  background-image: url(icons-shadowless-32/script-text.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-keyboard {
  background-image: url(icons-shadowless-32/keyboard.png) !important;
  background-repeat: no-repeat;
}
