.fugue-icons-inbox-image {
  background-image: url(icons-shadowless-24/inbox-image.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-user {
  background-image: url(icons-shadowless-24/user.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-document-export {
  background-image: url(icons-shadowless-24/blue-document-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-folder-export {
  background-image: url(icons-shadowless-24/folder-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-plus {
  background-image: url(icons-shadowless-24/plus.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-lock-ssl {
  background-image: url(icons-shadowless-24/lock-ssl.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-terminal {
  background-image: url(icons-shadowless-24/terminal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-folder-import {
  background-image: url(icons-shadowless-24/blue-folder-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-receipt {
  background-image: url(icons-shadowless-24/receipt.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-edit {
  background-image: url(icons-shadowless-24/edit.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-bin {
  background-image: url(icons-shadowless-24/bin.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-circle-double-135 {
  background-image: url(icons-shadowless-24/arrow-circle-double-135.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-magnifier-left {
  background-image: url(icons-shadowless-24/magnifier-left.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-paper-bag {
  background-image: url(icons-shadowless-24/paper-bag.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-socket {
  background-image: url(icons-shadowless-24/socket.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-folder-export {
  background-image: url(icons-shadowless-24/blue-folder-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-globe {
  background-image: url(icons-shadowless-24/globe.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-feed {
  background-image: url(icons-shadowless-24/feed.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-navigation-180 {
  background-image: url(icons-shadowless-24/navigation-180.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-printer {
  background-image: url(icons-shadowless-24/printer.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-retweet {
  background-image: url(icons-shadowless-24/arrow-retweet.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-application-export {
  background-image: url(icons-shadowless-24/application-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-folder-horizontal {
  background-image: url(icons-shadowless-24/blue-folder-horizontal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-circle {
  background-image: url(icons-shadowless-24/arrow-circle.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-thumb-up {
  background-image: url(icons-shadowless-24/thumb-up.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-curve {
  background-image: url(icons-shadowless-24/arrow-curve.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calendar-blue {
  background-image: url(icons-shadowless-24/calendar-blue.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-camera-lens {
  background-image: url(icons-shadowless-24/camera-lens.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-image-sunset {
  background-image: url(icons-shadowless-24/image-sunset.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-document {
  background-image: url(icons-shadowless-24/document.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-mobile-phone {
  background-image: url(icons-shadowless-24/mobile-phone.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-e-book-reader {
  background-image: url(icons-shadowless-24/e-book-reader.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-minus {
  background-image: url(icons-shadowless-24/minus.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-vise {
  background-image: url(icons-shadowless-24/vise.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-bookmark-export {
  background-image: url(icons-shadowless-24/bookmark-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-question {
  background-image: url(icons-shadowless-24/question.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-script {
  background-image: url(icons-shadowless-24/script.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-bin-metal {
  background-image: url(icons-shadowless-24/bin-metal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-mail {
  background-image: url(icons-shadowless-24/mail.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-briefcase {
  background-image: url(icons-shadowless-24/briefcase.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-light-bulb {
  background-image: url(icons-shadowless-24/light-bulb.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-battery {
  background-image: url(icons-shadowless-24/battery.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-map {
  background-image: url(icons-shadowless-24/map.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-lifebuoy {
  background-image: url(icons-shadowless-24/lifebuoy.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-universal {
  background-image: url(icons-shadowless-24/universal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-minus-circle {
  background-image: url(icons-shadowless-24/minus-circle.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-film {
  background-image: url(icons-shadowless-24/film.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-ticket {
  background-image: url(icons-shadowless-24/ticket.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-180 {
  background-image: url(icons-shadowless-24/arrow-180.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-television {
  background-image: url(icons-shadowless-24/television.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-card-import {
  background-image: url(icons-shadowless-24/card-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-join-090 {
  background-image: url(icons-shadowless-24/arrow-join-090.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-inbox-document-text {
  background-image: url(icons-shadowless-24/inbox-document-text.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-keyboard-enter {
  background-image: url(icons-shadowless-24/keyboard-enter.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-newspaper {
  background-image: url(icons-shadowless-24/newspaper.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-folder-open {
  background-image: url(icons-shadowless-24/folder-open.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-270 {
  background-image: url(icons-shadowless-24/arrow-270.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-inbox-table {
  background-image: url(icons-shadowless-24/inbox-table.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-alarm-clock-blue {
  background-image: url(icons-shadowless-24/alarm-clock-blue.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-keyboard-command {
  background-image: url(icons-shadowless-24/keyboard-command.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-script-import {
  background-image: url(icons-shadowless-24/script-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calendar-export {
  background-image: url(icons-shadowless-24/calendar-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-credit-card {
  background-image: url(icons-shadowless-24/credit-card.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-ruler {
  background-image: url(icons-shadowless-24/ruler.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-table-import {
  background-image: url(icons-shadowless-24/table-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-split-180 {
  background-image: url(icons-shadowless-24/arrow-split-180.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-star-half {
  background-image: url(icons-shadowless-24/star-half.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-image-export {
  background-image: url(icons-shadowless-24/image-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-media-player {
  background-image: url(icons-shadowless-24/media-player.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-address-book {
  background-image: url(icons-shadowless-24/address-book.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-stamp {
  background-image: url(icons-shadowless-24/stamp.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-wooden-box {
  background-image: url(icons-shadowless-24/wooden-box.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-folder-horizontal-open {
  background-image: url(icons-shadowless-24/folder-horizontal-open.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-disc-blue {
  background-image: url(icons-shadowless-24/disc-blue.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-table {
  background-image: url(icons-shadowless-24/table.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-merge-180 {
  background-image: url(icons-shadowless-24/arrow-merge-180.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-merge {
  background-image: url(icons-shadowless-24/arrow-merge.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-inbox-document-music-playlist {
  background-image: url(icons-shadowless-24/inbox-document-music-playlist.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-folder-open {
  background-image: url(icons-shadowless-24/blue-folder-open.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-tag {
  background-image: url(icons-shadowless-24/tag.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-store-label {
  background-image: url(icons-shadowless-24/store-label.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-curve-270 {
  background-image: url(icons-shadowless-24/arrow-curve-270.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-curve-090 {
  background-image: url(icons-shadowless-24/arrow-curve-090.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-document-export {
  background-image: url(icons-shadowless-24/document-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-plus-circle {
  background-image: url(icons-shadowless-24/plus-circle.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-star-empty {
  background-image: url(icons-shadowless-24/star-empty.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-user-business {
  background-image: url(icons-shadowless-24/user-business.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-lock {
  background-image: url(icons-shadowless-24/lock.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-marker {
  background-image: url(icons-shadowless-24/marker.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-document-text-image {
  background-image: url(icons-shadowless-24/blue-document-text-image.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-folder {
  background-image: url(icons-shadowless-24/blue-folder.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-notebook {
  background-image: url(icons-shadowless-24/notebook.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-user-business-boss {
  background-image: url(icons-shadowless-24/user-business-boss.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calendar-day {
  background-image: url(icons-shadowless-24/calendar-day.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-balloon-twitter {
  background-image: url(icons-shadowless-24/balloon-twitter.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-color-swatch {
  background-image: url(icons-shadowless-24/color-swatch.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-magnifier-zoom-in {
  background-image: url(icons-shadowless-24/magnifier-zoom-in.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-media-player-black {
  background-image: url(icons-shadowless-24/media-player-black.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-disk {
  background-image: url(icons-shadowless-24/disk.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-tag-export {
  background-image: url(icons-shadowless-24/tag-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-scissors {
  background-image: url(icons-shadowless-24/scissors.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-application-blue {
  background-image: url(icons-shadowless-24/application-blue.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-folder-import {
  background-image: url(icons-shadowless-24/folder-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-sitemap {
  background-image: url(icons-shadowless-24/sitemap.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-database {
  background-image: url(icons-shadowless-24/database.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calendar-import {
  background-image: url(icons-shadowless-24/calendar-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-store {
  background-image: url(icons-shadowless-24/store.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-prohibition {
  background-image: url(icons-shadowless-24/prohibition.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-merge-270 {
  background-image: url(icons-shadowless-24/arrow-merge-270.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-eraser {
  background-image: url(icons-shadowless-24/eraser.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-battery-empty {
  background-image: url(icons-shadowless-24/battery-empty.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-sofa {
  background-image: url(icons-shadowless-24/sofa.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-090 {
  background-image: url(icons-shadowless-24/arrow-090.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-ui-tab {
  background-image: url(icons-shadowless-24/ui-tab.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-equalizer {
  background-image: url(icons-shadowless-24/equalizer.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-sticky-note {
  background-image: url(icons-shadowless-24/sticky-note.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-light-bulb-off {
  background-image: url(icons-shadowless-24/light-bulb-off.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-wand-hat {
  background-image: url(icons-shadowless-24/wand-hat.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-user-female {
  background-image: url(icons-shadowless-24/user-female.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-database-import {
  background-image: url(icons-shadowless-24/database-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-table-export {
  background-image: url(icons-shadowless-24/table-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-document-import {
  background-image: url(icons-shadowless-24/blue-document-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-document-horizontal {
  background-image: url(icons-shadowless-24/document-horizontal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-inbox-film {
  background-image: url(icons-shadowless-24/inbox-film.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-magnifier {
  background-image: url(icons-shadowless-24/magnifier.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-document-horizontal {
  background-image: url(icons-shadowless-24/blue-document-horizontal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-eye {
  background-image: url(icons-shadowless-24/eye.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-card-export {
  background-image: url(icons-shadowless-24/card-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-monitor {
  background-image: url(icons-shadowless-24/monitor.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-color {
  background-image: url(icons-shadowless-24/color.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-switch {
  background-image: url(icons-shadowless-24/switch.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-magnifier-zoom {
  background-image: url(icons-shadowless-24/magnifier-zoom.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-split {
  background-image: url(icons-shadowless-24/arrow-split.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-monitor-sidebar {
  background-image: url(icons-shadowless-24/monitor-sidebar.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-home {
  background-image: url(icons-shadowless-24/home.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-battery-plug {
  background-image: url(icons-shadowless-24/battery-plug.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-balloon {
  background-image: url(icons-shadowless-24/balloon.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-yin-yang {
  background-image: url(icons-shadowless-24/yin-yang.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-table-sheet {
  background-image: url(icons-shadowless-24/table-sheet.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-card {
  background-image: url(icons-shadowless-24/card.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-book {
  background-image: url(icons-shadowless-24/book.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calculator {
  background-image: url(icons-shadowless-24/calculator.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-information {
  background-image: url(icons-shadowless-24/information.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-navigation-090 {
  background-image: url(icons-shadowless-24/navigation-090.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-mail-open {
  background-image: url(icons-shadowless-24/mail-open.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-document-text-image {
  background-image: url(icons-shadowless-24/document-text-image.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-wooden-box-label {
  background-image: url(icons-shadowless-24/wooden-box-label.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-star {
  background-image: url(icons-shadowless-24/star.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-circle-double {
  background-image: url(icons-shadowless-24/arrow-circle-double.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-repeat {
  background-image: url(icons-shadowless-24/arrow-repeat.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-card-address {
  background-image: url(icons-shadowless-24/card-address.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-folder-horizontal-open {
  background-image: url(icons-shadowless-24/blue-folder-horizontal-open.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-alarm-clock {
  background-image: url(icons-shadowless-24/alarm-clock.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-soap {
  background-image: url(icons-shadowless-24/soap.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-application {
  background-image: url(icons-shadowless-24/application.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-thumb {
  background-image: url(icons-shadowless-24/thumb.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-battery-full {
  background-image: url(icons-shadowless-24/battery-full.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-paper-bag-label {
  background-image: url(icons-shadowless-24/paper-bag-label.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-server {
  background-image: url(icons-shadowless-24/server.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-ui-color-picker-default {
  background-image: url(icons-shadowless-24/ui-color-picker-default.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-battery-charge {
  background-image: url(icons-shadowless-24/battery-charge.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-smiley-lol {
  background-image: url(icons-shadowless-24/smiley-lol.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-tick {
  background-image: url(icons-shadowless-24/tick.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-merge-090 {
  background-image: url(icons-shadowless-24/arrow-merge-090.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-ui-toolbar {
  background-image: url(icons-shadowless-24/ui-toolbar.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-wall {
  background-image: url(icons-shadowless-24/wall.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-address-book-blue {
  background-image: url(icons-shadowless-24/address-book-blue.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-jar-label {
  background-image: url(icons-shadowless-24/jar-label.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-keyboard-space {
  background-image: url(icons-shadowless-24/keyboard-space.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-inbox-slide {
  background-image: url(icons-shadowless-24/inbox-slide.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-navigation-270 {
  background-image: url(icons-shadowless-24/navigation-270.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-cross {
  background-image: url(icons-shadowless-24/cross.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-credit-card-green {
  background-image: url(icons-shadowless-24/credit-card-green.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-folder {
  background-image: url(icons-shadowless-24/folder.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-megaphone {
  background-image: url(icons-shadowless-24/megaphone.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-inbox {
  background-image: url(icons-shadowless-24/inbox.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-tag-label {
  background-image: url(icons-shadowless-24/tag-label.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-database-export {
  background-image: url(icons-shadowless-24/database-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-receipt-import {
  background-image: url(icons-shadowless-24/receipt-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-receipt-export {
  background-image: url(icons-shadowless-24/receipt-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-application-sidebar-list {
  background-image: url(icons-shadowless-24/application-sidebar-list.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-tag-import {
  background-image: url(icons-shadowless-24/tag-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-sort {
  background-image: url(icons-shadowless-24/sort.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-target {
  background-image: url(icons-shadowless-24/target.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-book-brown {
  background-image: url(icons-shadowless-24/book-brown.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-water {
  background-image: url(icons-shadowless-24/water.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-globe-green {
  background-image: url(icons-shadowless-24/globe-green.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-battery-low {
  background-image: url(icons-shadowless-24/battery-low.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-balloon-facebook {
  background-image: url(icons-shadowless-24/balloon-facebook.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-box {
  background-image: url(icons-shadowless-24/box.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calendar-month {
  background-image: url(icons-shadowless-24/calendar-month.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-magnifier-zoom-actual-equal {
  background-image: url(icons-shadowless-24/magnifier-zoom-actual-equal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-exclamation {
  background-image: url(icons-shadowless-24/exclamation.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-document-text {
  background-image: url(icons-shadowless-24/document-text.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-disk-black {
  background-image: url(icons-shadowless-24/disk-black.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-document-text {
  background-image: url(icons-shadowless-24/blue-document-text.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-ui-color-picker {
  background-image: url(icons-shadowless-24/ui-color-picker.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-script-export {
  background-image: url(icons-shadowless-24/script-export.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-magnifier-zoom-fit {
  background-image: url(icons-shadowless-24/magnifier-zoom-fit.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-repeat-once {
  background-image: url(icons-shadowless-24/arrow-repeat-once.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-disc {
  background-image: url(icons-shadowless-24/disc.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-photo-album-blue {
  background-image: url(icons-shadowless-24/photo-album-blue.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-bookmark-import {
  background-image: url(icons-shadowless-24/bookmark-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-image {
  background-image: url(icons-shadowless-24/image.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-camera {
  background-image: url(icons-shadowless-24/camera.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-webcam {
  background-image: url(icons-shadowless-24/webcam.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-join {
  background-image: url(icons-shadowless-24/arrow-join.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-bell {
  background-image: url(icons-shadowless-24/bell.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-microphone {
  background-image: url(icons-shadowless-24/microphone.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-document-import {
  background-image: url(icons-shadowless-24/document-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-application-sidebar {
  background-image: url(icons-shadowless-24/application-sidebar.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-wand {
  background-image: url(icons-shadowless-24/wand.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-cross-circle {
  background-image: url(icons-shadowless-24/cross-circle.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-curve-180 {
  background-image: url(icons-shadowless-24/arrow-curve-180.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-circle-135 {
  background-image: url(icons-shadowless-24/arrow-circle-135.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-join-180 {
  background-image: url(icons-shadowless-24/arrow-join-180.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow {
  background-image: url(icons-shadowless-24/arrow.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-smiley {
  background-image: url(icons-shadowless-24/smiley.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-folder-horizontal {
  background-image: url(icons-shadowless-24/folder-horizontal.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-magnifier-zoom-actual {
  background-image: url(icons-shadowless-24/magnifier-zoom-actual.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-calendar {
  background-image: url(icons-shadowless-24/calendar.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-circle-315 {
  background-image: url(icons-shadowless-24/arrow-circle-315.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-layer {
  background-image: url(icons-shadowless-24/layer.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-pencil {
  background-image: url(icons-shadowless-24/pencil.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-photo-album {
  background-image: url(icons-shadowless-24/photo-album.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-counter {
  background-image: url(icons-shadowless-24/counter.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-navigation {
  background-image: url(icons-shadowless-24/navigation.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-system-monitor {
  background-image: url(icons-shadowless-24/system-monitor.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-fire {
  background-image: url(icons-shadowless-24/fire.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-service-bell {
  background-image: url(icons-shadowless-24/service-bell.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-ui-color-picker-transparent {
  background-image: url(icons-shadowless-24/ui-color-picker-transparent.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-box-label {
  background-image: url(icons-shadowless-24/box-label.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-split-270 {
  background-image: url(icons-shadowless-24/arrow-split-270.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-blue-document {
  background-image: url(icons-shadowless-24/blue-document.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-clock {
  background-image: url(icons-shadowless-24/clock.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-magnet {
  background-image: url(icons-shadowless-24/magnet.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-magnifier-zoom-out {
  background-image: url(icons-shadowless-24/magnifier-zoom-out.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-receipt-text {
  background-image: url(icons-shadowless-24/receipt-text.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-point {
  background-image: url(icons-shadowless-24/point.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-inbox-document-music {
  background-image: url(icons-shadowless-24/inbox-document-music.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-split-090 {
  background-image: url(icons-shadowless-24/arrow-split-090.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-bookmark {
  background-image: url(icons-shadowless-24/bookmark.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-gear {
  background-image: url(icons-shadowless-24/gear.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-zone {
  background-image: url(icons-shadowless-24/zone.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-inbox-document {
  background-image: url(icons-shadowless-24/inbox-document.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-image-import {
  background-image: url(icons-shadowless-24/image-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-scissors-blue {
  background-image: url(icons-shadowless-24/scissors-blue.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-script-text {
  background-image: url(icons-shadowless-24/script-text.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-join-270 {
  background-image: url(icons-shadowless-24/arrow-join-270.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-application-import {
  background-image: url(icons-shadowless-24/application-import.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-jar {
  background-image: url(icons-shadowless-24/jar.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-keyboard {
  background-image: url(icons-shadowless-24/keyboard.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-drive {
  background-image: url(icons-shadowless-24/drive.png) !important;
  background-repeat: no-repeat;
}
.fugue-icons-arrow-circle-225 {
  background-image: url(icons-shadowless-24/arrow-circle-225.png) !important;
  background-repeat: no-repeat;
}
