.fugue-icons-application-terminal {
  background-image: url(icons/application-terminal.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-construction {
  background-image: url(icons/construction.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-counter-count-up {
  background-image: url(icons/counter-count-up.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-counter-count {
  background-image: url(icons/counter-count.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-counter {
  background-image: url(icons/counter.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-lock-warning {
  background-image: url(icons/lock-warning.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-selection-input {
  background-image: url(icons/selection-input.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-selection-select-input {
  background-image: url(icons/selection-select-input.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-selection-select {
  background-image: url(icons/selection-select.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-selection {
  background-image: url(icons/selection.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-terminal-medium {
  background-image: url(icons/terminal-medium.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-terminal-network {
  background-image: url(icons/terminal-network.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-terminal {
  background-image: url(icons/terminal.gif) !important;
  background-repeat: no-repeat;
}
.fugue-icons-ui-progress-bar-indeterminate {
  background-image: url(icons/ui-progress-bar-indeterminate.gif) !important;
  background-repeat: no-repeat;
}
